VITE_PUBLIC_NAMESPACE=zordle_0_1

VITE_PUBLIC_NODE_URL=https://api.cartridge.gg/x/starknet/sepolia

# Practice slot.
VITE_PUBLIC_NODE_URL_PRACTICE=https://api.cartridge.gg/x/zordle-practice-slot/katana
VITE_PUBLIC_CHAIN_ID_PRACTICE=WP_ZORDLE_PRACTICE_SLOT
VITE_PUBLIC_SLOT_PRACTICE=zordle-practice-slot

# NFT mode on Sepolia.
VITE_PUBLIC_NODE_URL_NFT=https://api.cartridge.gg/x/starknet/sepolia
VITE_PUBLIC_CHAIN_ID_NFT=SN_SEPOLIA
VITE_PUBLIC_VRF_ADDRESS_NFT=0x051fea4450da9d6aee758bdeba88b2f665bcbf549d2c61421aa724e9ac0ced8f
